nav {
	position: fixed;
	top: 1rem;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	align-items: center;
	gap: 5rem;
	padding: 0.5rem 2rem;
	border-radius: 1000rem;
	border: 1px solid var(--gray);
	background-color: oklch(from var(--darker) l c h / 0.9);

	& a {
		color: var(--white);
		transition: color 0.2s ease;

		&:hover {
			color: oklch(from var(--accent) calc(l + 0.2) c h);
		}
	}
}
