@import 'tailwindcss';

:root {
	--black: oklch(0.1797 0.0043 308.19);
	--darker: oklch(0.2115 0.006 301.03);
	--dark: oklch(0.2398 0.0117 300.71);
	--gray: oklch(0.3963 0.0251 285.2);
	--light-gray: oklch(1 0 300.71 / 0.75);
	--white: oklch(1 0 300.71 / 0.9);
	--accent: oklch(0.558 0.222 277.85);
	--accent-muted: oklch(0.558 0.222 277.85 / 0.2);
}

@theme inline {
	--color-black: var(--black);
	--color-darker: var(--darker);
	--color-dark: var(--dark);
	--color-gray: var(--gray);
	--color-light-gray: var(--light-gray);
	--color-white: var(--white);
	--color-accent: var(--accent);
	--color-accent-muted: var(--accent-muted);
}

@layer base {
	h1,
	h2,
	h3,
	h4 {
		color: var(--color-white);
		font-weight: 700;
		line-height: 1.1;
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.25rem;
	}

	p {
		color: var(--light-gray);
	}

	section {
		width: min(90vw, 1500px);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background: var(--dark);
		--foreground: var(--white);
	}
}
