@import 'tailwindcss';

:root {
	--black: oklch(0.1 0.0043 308.19);
	--darker: oklch(0.22 0.006 301.03);
	--dark: oklch(0.3 0.015 300.71);
	--gray: oklch(0.45 0.02 285.2);
	--light-gray: oklch(1 0 300.71 / 0.75);
	--white: oklch(1 0 300.71 / 0.9);
	--accent: oklch(0.558 0.222 277.85);
	--accent-muted: oklch(0.358 0.12 277.85 / 0.66);
	/* oklch(0.2373 0.0582 282.47) */
}

@theme inline {
	--color-black: var(--black);
	--color-darker: var(--darker);
	--color-dark: var(--dark);
	--color-gray: var(--gray);
	--color-light-gray: var(--light-gray);
	--color-white: var(--white);
	--color-accent: var(--accent);
	--color-accent-muted: var(--accent-muted);
}

@layer base {
	h1,
	h2,
	h3,
	h4 {
		color: var(--color-white);
		font-weight: 700;
		line-height: 1.1;
		--base-margin: 0.25em;
		margin-top: var(--base-margin);
		margin-bottom: calc(var(--base-margin) / 2);
	}

	h1 {
		font-size: 4.5rem;
		--base-margin: 0;
	}

	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.25rem;
	}

	p {
		color: var(--light-gray);
	}

	section {
		display: flex;
		position: relative;
		flex-direction: column;
		row-gap: 1rem;
		padding: 6rem max(5vw, calc((100vw - 1350px) / 2));
	}

	button {
		cursor: pointer;
	}

	@media (max-width: 768px) {
		h1 {
			font-size: 3rem;
		}
		h2 {
			font-size: 2.25rem;
		}
	}
}

@utility layout-col-* {
	display: flex;
	flex-direction: column;
	row-gap: calc(--value(integer) * 0.25rem);
}

@utility glow-* {
	box-shadow: 0 0 calc(--value(integer) * 0.25rem) var(--tw-shadow-color);
}

@media (prefers-color-scheme: light) {
	:root {
		--background: var(--dark);
		--foreground: var(--white);
	}
}
