.button {
	background-color: var(--accent);
	color: var(--white);
	padding: 0.75rem 1.5rem;
	cursor: pointer;
	border-radius: 10rem;
	line-height: 1.1;
	border: 2px solid var(--accent);

	display: flex;
	align-items: center;
	gap: 0.5rem;

	transition:
		background-color 0.3s ease,
		border-color 0.3s ease,
		box-shadow 0.3s ease;

	&:hover:not(.secondary) {
		background-color: oklch(from var(--accent) calc(l + 0.07) c h);
		border-color: oklch(from var(--accent) calc(l + 0.07) c h);
		box-shadow: 0 0 1rem 0.5rem oklch(from var(--accent) l c h / 0.5);
	}

	&.secondary {
		background-color: transparent;

		&:hover {
			background-color: oklch(from var(--accent) l c h / 0.5);
			border-color: var(--accent);
		}
	}
}

main {
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23ffffff' fill-opacity='0.075' fill-rule='evenodd'/%3E%3C/svg%3E"), linear-gradient(135deg, var(--black), oklch(0.1 0 0));
	background-attachment: fixed;
}
