nav {
	position: fixed;
	top: 1rem;

	display: flex;
	align-items: center;
	gap: 5rem;
	padding: 0.5rem 2rem;
	border-radius: 1000rem;
	border: 1px solid var(--gray);
	background-color: oklch(from var(--darker) l c h / 0.9);

	& a {
		color: var(--white);
		transition: color 0.2s ease;
		width: fit-content;

		&:hover {
			color: oklch(from var(--accent) calc(l + 0.2) c h);
		}
	}

	@media (max-width: 1024px) {
		flex-direction: column;
		gap: 3rem;
		inset: 1rem auto 1rem 1rem;
		border-radius: 0.5rem;
		background-color: var(--darker);
		align-items: flex-start;
		padding: 1.5rem;
		padding-top: 3rem;

		font-size: 1.25rem;

		transition: opacity 0.2s ease;

		&[data-active='false'] {
			opacity: 0;
			pointer-events: none;
		}
	}
}

header > .menu {
	position: fixed;
	display: grid;
	place-items: center;
	border: 1px solid var(--gray);
	aspect-ratio: 1 / 1;
	width: 3rem;
	inset: 1rem auto auto 1rem;
	border-radius: 50%;
	font-size: 1.25rem;
	background-color: var(--darker);

	transition: transform 0.2s ease;

	&:hover {
		transform: scale(1.1);
	}

	@media not all and (max-width: 1024px) {
		display: none;
	}
}
