nav {
	position: fixed;
	top: 1rem;

	display: flex;
	align-items: center;
	gap: 5rem;
	padding: 0.5rem 1.5rem;
	border-radius: 1rem;
	border: 1px solid var(--gray);
	background-color: oklch(from var(--darker) l c h / 0.9);
	z-index: 1001;

	& a {
		color: var(--light-gray);
		transition: color 0.2s ease;
		width: fit-content;
		position: relative;

		&:not(:has(svg))::after {
			content: '';
			position: absolute;
			width: 100%;
			transform: scaleX(0);
			height: 3px;
			background-color: var(--accent);
			top: 100%;
			left: 0;
			transition: transform 300ms ease;
		}

		&:hover {
			color: var(--white);

			&::after {
				transform: scaleX(100%);
			}
		}
	}

	@media (max-width: 1024px) {
		flex-direction: column;
		gap: 3rem;
		inset: 1rem auto 1rem 1rem;
		border-radius: 0.5rem;
		background-color: var(--darker);
		align-items: flex-start;
		padding: 3rem 3rem 1.5rem 1.5rem;

		font-size: 1.25rem;

		transition: opacity 0.2s ease;

		&[data-active='false'] {
			opacity: 0;
			pointer-events: none;
		}
	}

	@media (max-width: 450px) {
		inset: 1rem;
	}
}

header > .menu {
	position: fixed;
	display: grid;
	place-items: center;
	border: 1px solid var(--gray);
	aspect-ratio: 1 / 1;
	width: 3rem;
	inset: 1rem auto auto 1rem;
	border-radius: 50%;
	font-size: 1.25rem;
	background-color: var(--darker);
	z-index: 10;

	transition: transform 0.2s ease;

	&:hover {
		transform: scale(1.1);
	}

	@media not all and (max-width: 1024px) {
		display: none;
	}
}
