.hobby-info {
	@media (min-width: 768px) {
		position: absolute;
		right: calc(100% + 1rem);
		top: 50%;
		transform: translateY(-50%);
		background-color: var(--darker);
		padding: 1rem;
		border-radius: 1rem;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		width: 50%;

		transition: opacity 0.2s ease;

		&[data-visible='false'] {
			opacity: 0;
			pointer-events: none;
		}

		&::after {
			content: '';
			position: absolute;
			left: 100%;
			top: 50%;
			transform: translateY(-50%);
			border: 0.5rem solid transparent;
			border-left: 0.5rem solid var(--darker);
		}
	}
	@media not all and (min-width: 768px) {
		display: none;
	}
}
